{%extends 'base.html'%}

{% block head%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="dropdown">
          <div>
            <b> Text Delimiter </b>
          </div>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Custom String
          </button>
          <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>Custom String</li>
            </ul> -->
        </div>
        <br>
        <!-- <div class="mb-3"> -->
        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
        <input type="text" class="form-control" id="exampleFormControlInput1"
          value="-----------------------------------------------------------------------">
      </div>
    </div>
    <div class="col-md-9">
      <div class="card  " style="transform: none; width:70rem ;transition:none; cursor: text;">
        <div style="position:sticky; top: 0px; z-index: 2; background-color: #f1f1f1;">

          <div id="add-tag" style="padding: 1rem;">
            <div class="tags">
              <ul>
                <li>
                  <div id="color"> </div>
                  <span style="padding-left:3px;"> TECH</span>
                  <span class="close">&times;</span>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <input class="form-control" type="text" id="input-tag" placeholder="NER"
                  style="text-transform:uppercase">
                <button type="button" class="btn btn-primary" onclick="addTag()">Add</button>
              </div>
            </div>
          </div>

          <!-- <div style="background-color: #fff; width:100%;"> <b> Tech Keys </b> </div> -->
          <!-- <div class="tech-keys-container" id="tech-keys-container"
            style="background-color: #f9fafb; opacity: 1; border: 1px solid #ced4da; padding-bottom: 0.5em; ">


            <div class="tech-keys">
              <span> <b>Java</b> </span>
              <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>

            <div class="tech-keys">
              <span> <b>Java</b> </span>
              <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>

            <div class="tech-keys">
              <span> <b>Spring</b> </span>
              <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>

            <div class="tech-keys">
              <span> <b>Flask</b> </span>
              <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>

            <div class="tech-keys">
              <span> <b>Elasticsearch</b> </span>
              <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>

            <div class="tech-keys">
              <span> <b>Hadoop</b> </span>
              <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>


          </div> -->
        </div> <br>

        <div class="card-body">

          <!-- <h3 style="text-align: center;"> 1/803 </h3>
          <br> -->

          <div> <b> Job Description </b> </div>
          <div class="input-group form-control" id="job-description" style="line-height: 2.5;
              overflow-wrap: break-word; background-color: #fbfbfb; opacity: 1;">
            {% for word in data.tokens %}
            <span id={{word[0]}} style="padding: 0.15rem;">{{ word[2] }} </span>

            {% endfor %}
          </div>

          </br>

          <center>
            <button type="button" class="btn btn-outline-danger">Reset</button>
            <button type="button" class="btn btn-outline-warning">Skip</button>
            <button type="submit" id="save-btn" class="btn btn-success"
              style="text-align: center; padding: 0.40em 1.5em;" onclick="save()">Save</button>
          </center>

        </div>


      </div>

    </div>

  </div>

</div>

<br>
<br>

<script>
  var tokenizedData = {{ data | tojson | safe }};
  var selectedText = {  }
  selectedText["TECH"] = {};

  function save() {

    // var uniqueSelectedText = []

    // $.each(selectedText, function (i, el) {

    //   if ($.inArray(el, uniqueSelectedText) === -1) uniqueSelectedText.push(el);
    // });

    // console.log(uniqueSelectedText);

    var data = {
      "selected-data" : selectedText,
      "initial-data"  : tokenizedData
    };
    console.log(data)
    $.ajax({
      url: "/api/save/data",
      type: "POST",
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: 'json',
      success: function (e) {
        alert("Techlinks successfully saved");
      },

      error: () => {
        // alert("Failed to save techlinks");
      }
    })
  }

  function addTag() {
    console.log($('#input-tag').val());
    let tag = $('#input-tag').val();
    $('#input-tag').val("");
    $(".tags ul").append("<li><div id='color'> </div> <span style='padding-left:3px;''>" + tag.toUpperCase() + "</span><span class='close'>&times;</span></li>")
  }

  function getSelectionText() {
    var text = "";
    // console.log("selected test ", window.getSelection().toString())
    // if (window.getSelection) {
      // var temp = {}
      text = window.getSelection().toString();
    // } else if (document.selection && document.selection.type != "Control") {
    //   text = document.selection.createRange().text;
    // }
    return text;
  }

  ele = document.getElementById("job-description");

  ele.onmouseup = ele.onkeyup = function addTechKey() {
    text = getSelectionText();
    console.log(text.split('\n'));
    text = text.replaceAll('\n', ' ');
    var wordArray = text.split('\n');
    highlight(wordArray);
    if (text.replace(/\s/g, '').length) {
      $(window.getSelection().anchorNode.parentNode).css("background-color", "yellow");
      var temp = {}
      textPos = window.getSelection().anchorNode.parentNode;
      while (true) {
        var start = $(textPos).attr("id");
        // console.log(start);
        console.log( selectedText["TECH"]);
       
        selectedText["TECH"][text] =Number( start ) ;
        console.log(selectedText);
        break;
      }
    }
  }

  function highlight(arr){

  }
</script>

<!-- <script>
  function getSelectionText() {
    var text = "";
    if (window.getSelection) {
      text = window.getSelection().toString();
    } else if (document.selection && document.selection.type != "Control") {
      text = document.selection.createRange().text;
    }
    return text;
  }

  ele = document.getElementById("job-description");

  ele.onmouseup = ele.onkeyup = function addTechKey() {
    txt = getSelectionText();
    if (txt.replace(/\s/g, '').length) { // Ignoring Whitespaces
      var final = '<div class="tech-keys"> <span> <b>' + txt +
        '</b> </span> <button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>';
      document.getElementById("tech-keys-container").innerHTML += final;
      techKeys.push(txt);
      //  console.log(techKeys)
      removeTechKey(); //To initialize eventlistener
    }
  };

  function removeTechKey() {
    var deleteButtons = document.getElementsByClassName("btn-close");
    var activeKeys = document.getElementsByClassName("tech-keys");
    for (var i = 0; i < techKeys.length; i++) {
      deleteButtons[i].addEventListener("click", function (e) {
        e.preventDefault();
        key = $.trim($(this).prev("span").text());
        index = techKeys.indexOf(key);
        if (index > -1) {
          techKeys.splice(index, 1);
        }
        $(this).closest(".tech-keys").remove();
        //  console.log(techKeys)
      });
    }
  }

  function saveTechKeys() {
    document.getElementById("save-btn").addEventListener("click", function () {
      console.log(techKeys)
      var data = {
        "TechKeys": techKeys,
        "Job-Id": jobId
      };
      $.ajax({
        url: "/api/update/data",
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json",
        dataType: 'json',
        success: function (e) {
          alert("Techlinks successfully saved");
        },

        error: () => {
          alert("Failed to save techlinks");
        }
      })


    })
  }



  var techKeys = [];
  var jobId = [];
  console.log(jobId);
  saveTechKeys();
  removeTechKey();
</script> -->


{%endblock%}


